<% include partials/header %>

<% const admin = 5; recruiter = 4, officer = 3, nco = 2, enlisted = 1, guest = 0;%>
<div class="container shadow bg-white marginPad">
    <form action="/user/edit" method="POST">
        <h2>Change user details for <strong><%=user.username%></strong></h2>


        <div class="form-group">
            <label for="name">Username</label>
            <input class="form-control" type="text" id="name" name="name" value="<%=user.username%>" disabled>
        </div>


        <div class="form-group">
            <label for="id">ID</label>
            <input class="form-control" type="text" id="id" name="id" value="<%=user._id%>" disabled>
        </div>

        <div class="form-group">
            <label for="MOS">MOS</label>
            <select class="form-control" id="MOS" name="position">
                <option><%=user.position%></option>
                <option>11B</option>
                <option>68W</option>
                <option>none</option>
            </select>
        </div>

        <div class="form-group">
            <label for="company">Company</label>
            <select class="form-control" id="company" name="company">
                <option><%=user.unit.company%></option>
                <option>Crusader Company</option>
                <option>none</option>
            </select>
        </div>

        <div class="form-group">
            <label for="platoon">Platoon</label>
            <select class="form-control" id="platoon" name="platoon">
                <option><%=user.unit.platoon%></option>
                <option>First Platoon</option>
                <option>Company HQ</option>
                <option>none</option>
            </select>
        </div>

        <div class="form-group">
            <label for="squad">Squad</label>
            <select class="form-control" id="squad" name="squad">
                <option><%=user.unit.squad%></option>
                <option>First Squad</option>
                <option>Second Squad</option>
                <option>Third Squad</option>
                <option>Fourth Squad</option>
                <option>Platoon HQ</option>
                <option>none</option>
            </select>
        </div>

        <div class="form-group">
            <label for="status">Change Status</label>
            <select class="form-control" id="status" name="status">
                <option><%=user.status%></option>
                <option>Active</option>
                <option>Leave of Absence</option>
                <option>Away Without Leave</option>
                <option>Reserve</option>
                <option>Retired</option>
                <option>none</option>
            </select>
        </div>

        <div class="form-group">
            <label for="rank">Select Rank</label>
            <select class="form-control" id="rank" name="rank">
                <option><%=user.rank%></option>
                <option>PVT</option>
                <option>PV2</option>
                <option>PFC</option>
                <option>SPC</option>
                <option>CPL</option>
                <option>SGT</option>
                <option>SSG</option>
                <option>SFC</option>
                <option>MSG</option>
                <option>1SG</option>
                <option>SGM</option>
                <option>CSM</option>
                <option>WO1</option>
                <option>CW2</option>
                <option>CW3</option>
                <option>CW4</option>
                <option>CW5</option>
                <option>2LT</option>
                <option>1LT</option>
                <option>CPT</option>
                <option>none</option>
            </select>
        </div>
        
        <% if(currentUser.role.num === recruiter || currentUser.role.num === admin) { %>
        <div class="form-group">
            <label for="role">Select User's Group</label>
            <select class="form-control" id="role" name="role">
                <option><%=user.role.name%></option>
                <option>Guest</option>
                <option>Enlisted</option>
                <option>NCO</option>
                <option>Officer</option>
                <% if(currentUser.role.num > recruiter) { %>
                <option>Recruiter</option>
                <option>Admin</option>
                <% } %>
            </select>
        </div>
        <% } %>        

        <input class="form-control" type="text" name="id" value="<%=user._id%>" hidden>
        <div class="form-group"><button class="btn btn-primary" >Submit</button></div>
    </form>
</div>


<% include partials/footer %>

