<% include partials/header %>

<div class="container shadow bg-white" style="margin-top: 1%; padding: 1%;">
    <h1 style="text-align: center;">Landing Page</h1>
    <hr>
    <div class="titillium-test">
        <p class="titillium-test">Welcome to the 143rd Infantry Regiment. If you have not already done so, create an account then navigate to the Operations Center to submit an application.</p>
    </div>
<br>
    <div>
        <table style="width: 100%;">
            <tbody>
            <tr>
                <th style="text-align: center;">
                    Pacific Time
                </th>
                <th style="text-align: center;">
                    Central Time
                </th>
                <th style="text-align: center;">
                    Eastern Time
                </th>
                <th style="text-align: center;">
                    Central European
                </th>
            </tr>
            <tr>
                <td style="text-align: center; color: black;">
                    <iframe src="http://free.timeanddate.com/clock/i6p85lc5/n137/fs16/ftb/th1/ta1" frameborder="0" width="113" height="20"></iframe>
                </td>
                <td style="text-align: center;">
                    <iframe src="http://free.timeanddate.com/clock/i6p85lc5/n24/fs16/ftb/th1/ta1" frameborder="0" width="113" height="20"></iframe>
                </td>
                <td style="text-align: center;">
                    <iframe src="http://free.timeanddate.com/clock/i6p85lc5/n179/fs16/ftb/th1/ta1" frameborder="0" width="113" height="20"></iframe>
                </td>
                <td style="text-align: center;">
                    <iframe src="http://free.timeanddate.com/clock/i6p85lc5/n37/fs16/ftb/th1/ta1" frameborder="0" width="113" height="20"></iframe>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <h1 style="text-align: center;">Recently Added Events</h1>
    <hr>

    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <% events.forEach(function(event) { %>
            <div class="col-auto mb-3">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="https://raw.githubusercontent.com/LyonJenkins/persman-pictures/master/<%=event.imageName%>" alt="Image Not Found">
                    <div class="card-body">
                        <h5 class="card-title"><%=event.title%></h5>
                        <p class="card-text"><%=event.start%> - <%=event.startTime%> EST</p>
                        <a href="/calendar/event/<%=event._id%>" class="btn btn-primary">View Event</a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>

<% include partials/footer %>