<% include partials/header %>

<!--Only enlisted members-->
<div class="container shadow mt-3 mb-3 p-3 white-transparent">
    <h1>Unit Members</h1>
    <hr>
	
	<% let permissionGroup = 0; %>
	<% if(currentUser) { %>
		<% permissionGroup = currentUser.role.num; %>
	<% } %>
	
	<ul class="nav nav-tabs nav-justified" style="background-color: lightgrey" id="membersTabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="personnel-tab" data-toggle="tab" href="#personnel" role="tab" aria-controls="personnel"
			aria-selected="true">Personnel List</a>
		</li>
		<% if(config.sShops) { %>
			<li class="nav-item">
				<a class="nav-link" id="administrative-tab" data-toggle="tab" href="#administrative" role="tab" aria-controls="administrative"
				aria-selected="false">Administrative Staff</a>
			</li>
		<% } %>
	</ul>
	<div class="tab-content" id="membersTabsContent">
		<br>
		<div class="tab-pane fade show active" id="personnel" role="tabpanel" aria-labelledby="personnel-tab">
			<% for(let i = 0; i < platoons.length; i++) { %>
				<% if(platoons[i].name === "Company HQ" || platoons[i].name === "Company Headquarters") { %>
					<div class="card">
						<div class="card-header text-center">
							<h5><%=config.companies%> Company HQ</h5>
						</div>
						<div class="card-body text-center">
							<table class="table table-sm table-striped">
								<thead>
								<tr>
									<th scope="col" style="width: 5%">Rank</th>
									<th scope="col" style="width: 20%">Name</th>
									<th scope="col" style="width: 20%">MOS/Position</th>
									<th scope="col" style="width: 15%">Tabs</th>
									<th scope="col" style="width: 15%">Status</th>
									<th scope="col" style="width: 3%"></th>
									<th scope="col" style="width: 3%"></th>
									<% if(permissionGroup >= 3) { %>
										<th scope="col" style="width: 8%">Edit</th>
									<% } %>
								</tr>
								</thead>
								<tbody>
								<% users.forEach(function(user) { %>
									<% if(user.status !== "Reserve" && user.status !== "Retired" && user.unit.platoon === platoons[i].name) { %>
									<tr>
										<td class="align-middle"><img src="/ranks/small/<%=user.rank.toLowerCase()%>.png" title="<%=user.rank%>"></td>
										<td class="align-middle"><a href="/user/<%=user._id%>"><% if(user.rank.toLowerCase() !== "none") { %><%=user.rank%><% } %> <%=user.displayname%></a></td>
										<td class="align-middle"><%=user.position%>, <%=config.companies%> Actual</td>
										<td class="align-middle">
											<% if(user.tabs) { %>
												<% for(let t = 0; t < user.tabs.length; t++) { %>
													<img src="/tabs/small/<%=user.tabs[t]%>.png" title="<%=user.tabs[t]%>"> 
												<% } %>
											<% } %>
										</td>
										<td class="align-middle"><span class="<%=user.status%>"><%=user.status%></span></td>
										<td class="align-middle"><% if(user.steamProfile) { %><a href="<%=user.steamProfile%>" target="_blank" title="Steam"><i class="fab fa-steam fa-lg" style="color: darkblue;"></i></a><% } %></td>
										<td class="align-middle"><% if(user.country) { %><span class="flag-icon flag-icon-<%=user.country.toLowerCase()%>" title="<%=user.country%>"></span><% } %></td>
										<% if(permissionGroup >= 3) { %>
											<td class="align-middle">
												<form action="/user/edit/<%=user._id%>" method="get">
													<button class="btn btn-warning btn-sm">Edit User</button>
												</form>
											</td>
										<% } %>
									</tr>
									<% } %>
								<% }) %>
							</table>
						</div>
					</div>
					<br>
				<% } else if(platoons[i].name === "Training Platoon") { %>
					<div class="card">
						<div class="card-header text-center">
							<h5><%=platoons[i].name%></h5>
						</div>
						<div class="card-body text-center">
							<table class="table table-striped table-sm">
								<thead>
								<tr>
									<th scope="col" style="width: 5%">Rank</th>
									<th scope="col" style="width: 20%">Name</th>
									<th scope="col" style="width: 35%"></th>
									<th scope="col" style="width: 15%">Status</th>
									<th scope="col" style="width: 3%"></th>
									<th scope="col" style="width: 3%"></th>
									<% if(permissionGroup >= 3) { %>
										<th scope="col" style="width: 8%">Edit</th>
									<% } %>
								</tr>
								</thead>
								<tbody>
								<% users.forEach(function(user) { %>
									<% if(user.status !== "Reserve" && user.status !== "Retired" && user.unit.platoon === platoons[i].name) { %>
									<tr>
										<td class="align-middle"><img src="/ranks/small/<%=user.rank.toLowerCase()%>.png" title="<%=user.rank%>"></td>
										<td class="align-middle"><a href="/user/<%=user._id%>"><% if(user.rank.toLowerCase() !== "none") { %><%=user.rank%><% } %> <%=user.displayname%></a></td>
										<td class="align-middle"></td>
										<td class="align-middle"><span class="<%=user.status%>"><%=user.status%></span></td>
										<td class="align-middle"><% if(user.steamProfile) { %><a href="<%=user.steamProfile%>" target="_blank" title="Steam"><i class="fab fa-steam fa-lg" style="color: darkblue;"></i></a><% } %></td>
										<td class="align-middle"><% if(user.country) { %><span class="flag-icon flag-icon-<%=user.country.toLowerCase()%>" title="<%=user.country%>"></span><% } %></td>
										<% if(permissionGroup >= 3) { %>
											<td class="align-middle">
												<form action="/user/edit/<%=user._id%>" method="get">
													<button class="btn btn-warning btn-sm">Edit User</button>
												</form>
											</td>
										<% } %>
									</tr>
									<% } %>
								<% }) %>
							</table>
						</div>
					</div>
					<br>
				<% } else { %>
					<% for(let j = 0; j < platoons[i].squads.length; j++) { %>
						<div class="card">
							<% if(platoons[i].squads[j] === "HQ" || platoons[i].squads[j] === "Headquarters") { %>
								<div class="card-header text-center">
									<h5><%=platoons[i].name%> HQ, <%=config.companies%> Company</h5>
								</div>
							<% } else {%>
								<div class="card-header text-center">
									<h5><%=platoons[i].name%>, <%=platoons[i].squads[j]%>, <%=config.companies%> Company</h5>
								</div>
							<% } %>
							<div class="card-body text-center">
								<table class="table table-sm table-striped">
									<thead>
									<tr>
										<th scope="col" style="width: 5%">Rank</th>
										<th scope="col" style="width: 20%">Name</th>
										<th scope="col" style="width: 20%">MOS/Position</th>
										<th scope="col" style="width: 15%">Tabs</th>
										<th scope="col" style="width: 15%">Status</th>
										<th scope="col" style="width: 3%"></th>
										<th scope="col" style="width: 3%"></th>
										<% if(permissionGroup >= 3) { %>
											<th scope="col" style="width: 8%">Edit</th>
										<% } %>
									</tr>
									</thead>
									<tbody>
									<% users.forEach(function(user) { %>
										<% if(user.status !== "Reserve" && user.status !== "Retired" && user.unit.platoon === platoons[i].name && user.unit.squad === platoons[i].squads[j]) { %>
										<tr>
											<td class="align-middle"><img src="/ranks/small/<%=user.rank.toLowerCase()%>.png" title="<%=user.rank%>"></td>
											<td class="align-middle"><a href="/user/<%=user._id%>"><% if(user.rank.toLowerCase() !== "none") { %><%=user.rank%><% } %> <%=user.displayname%></a></td>
											<td class="align-middle"><%=user.position%>, 
											<!-- This is a super ghetto way to display position in numbers by searching for the number in the platoon/squad name, and also handling special platoons without number names. It can probably be done better, but its 2am and I don't feel like rewriting the whole sorting alg. to fix this small cosmetic problem. -->
											<% if(platoons[i].squads[j] === "HQ" || platoons[i].squads[j] === "Headquarters") { %>
												<% if((/(\d+)/).test(platoons[i].name)) { %>
													<%=config.companies%> <%=platoons[i].name.match(/(\d+)/)[0]%> Actual
												<% } else { %>
													<%=platoons[i].name%> Actual
												<% } %>
											<% } else { %>
												<% if((/(\d+)/).test(platoons[i].name) && (/(\d+)/).test(platoons[i].squads[j])) { %>
													<%=platoons[i].name.match(/(\d+)/)[0]%>-<%=platoons[i].squads[j].match(/(\d+)/)[0]%>/<%=user.unit.team%>
												<% } else { %>
													<%=user.unit.team%>
												<% } %>
											<% } %>
											</td>
											<td class="align-middle">
												<% if(user.tabs) { %>
													<% for(let t = 0; t < user.tabs.length; t++) { %>
														<img src="/tabs/small/<%=user.tabs[t]%>.png" title="<%=user.tabs[t]%>"> 
													<% } %>
												<% } %>
											</td>
											<td class="align-middle"><span class="<%=user.status%>"><%=user.status%></span></td>
											<td class="align-middle"><% if(user.steamProfile) { %><a href="<%=user.steamProfile%>" target="_blank" title="Steam"><i class="fab fa-steam fa-lg" style="color: darkblue;"></i></a><% } %></td>
											<td class="align-middle"><% if(user.country) { %><span class="flag-icon flag-icon-<%=user.country.toLowerCase()%>" title="<%=user.country%>"></span><% } %></td>
											<% if(permissionGroup >= 3) { %>
												<td class="align-middle">
													<form action="/user/edit/<%=user._id%>" method="get">
														<button class="btn btn-warning btn-sm">Edit User</button>
													</form>
												</td>
											<% } %>
										</tr>
										<% } %>
									<% }) %>
								</table>
							</div>
						</div>
						<br>
					<% } %>
				<% } %>
			<% } %>

			<!--Only reserve members-->
			<% if(numReserve > 0) { %>
				<div class="card">
					<div class="card-header">
						<h5>Reserve Members</h5>
					</div>
					<div class="card-body text-center">
						<table class="table table-striped table-sm">
							<thead>
							<tr>
								<th scope="col" style="width: 5%">Rank</th>
								<th scope="col" style="width: 20%">Name</th>
								<th scope="col" style="width: 20%">MOS</th>
								<th scope="col" style="width: 15%">Tabs</th>
								<th scope="col" style="width: 15%">Status</th>
								<th scope="col" style="width: 3%"></th>
								<th scope="col" style="width: 3%"></th>
								<% if(permissionGroup >= 3) { %>
									<th scope="col" style="width: 8%">Edit</th>
								<% } %>
							</tr>
							</thead>
							<tbody>
							<% users.forEach(function(user) { %>
								<% if(user.status == "Reserve") { %>
								<tr>
									<td class="align-middle"><img src="/ranks/small/<%=user.rank.toLowerCase()%>.png" title="<%=user.rank%>"></td>
									<td class="align-middle"><a href="/user/<%=user._id%>"><% if(user.rank.toLowerCase() !== "none") { %><%=user.rank%><% } %> <%=user.displayname%></a></td>
									<td class="align-middle"><%=user.position%></td>
									<td class="align-middle">
											<% if(user.tabs) { %>
												<% for(let t = 0; t < user.tabs.length; t++) { %>
													<img src="/tabs/small/<%=user.tabs[t]%>.png" title="<%=user.tabs[t]%>"> 
												<% } %>
											<% } %>
									</td>
									<td class="align-middle"><span class="<%=user.status%>"><%=user.status%></span></td>
										<td class="align-middle"><% if(user.steamProfile) { %><a href="<%=user.steamProfile%>" target="_blank" title="Steam"><i class="fab fa-steam fa-lg" style="color: darkblue;"></i></a><% } %></td>
									<td class="align-middle"><% if(user.country) { %><span class="flag-icon flag-icon-<%=user.country.toLowerCase()%>" title="<%=user.country%>"></span><% } %></td>
									<% if(permissionGroup >= 3) { %>
										<td class="align-middle">
											<form action="/user/edit/<%=user._id%>" method="get">
												<button class="btn btn-warning btn-sm">Edit User</button>
											</form>
										</td>
									<% } %>
								</tr>
								<% } %>
							<% }) %>
						</table>
					</div>
				</div>
				<br>
			<% } %>

			<!--Only retired members-->
			<% if(config.enableRetiredMembers === "on" && numRetired > 0) { %>
			<div class="card">
				<div class="card-header">
					<h5>Retired Members</h5>
				</div>
				<div class="card-body text-center">
					<table class="table table-striped table-sm">
						<thead>
						<tr>
							<th scope="col" style="width: 5%">Rank</th>
							<th scope="col" style="width: 20%">Name</th>
							<th scope="col" style="width: 35%"></th>
							<th scope="col" style="width: 15%">Status</th>
							<th scope="col" style="width: 3%"></th>
							<th scope="col" style="width: 3%"></th>
							<% if(permissionGroup >= 3) { %>
								<th scope="col" style="width: 8%">Edit</th>
							<% } %>
						</tr>
						</thead>
						<tbody>
						<% users.forEach(function(user) { %>
							<% if(user.status == "Retired") { %>
							<tr>
								<td class="align-middle"><img src="/ranks/small/<%=user.rank.toLowerCase()%>.png" title="<%=user.rank%>"></td>
								<td class="align-middle"><a href="/user/<%=user._id%>"><% if(user.rank.toLowerCase() !== "none") { %><%=user.rank%><% } %> <%=user.displayname%></a></td>
								<td class="align-middle"></td>
								<td class="align-middle"><span class="<%=user.status%>"><%=user.status%></span></td>
										<td class="align-middle"><% if(user.steamProfile) { %><a href="<%=user.steamProfile%>" target="_blank" title="Steam"><i class="fab fa-steam fa-lg" style="color: darkblue;"></i></a><% } %></td>
								<td class="align-middle"><% if(user.country) { %><span class="flag-icon flag-icon-<%=user.country.toLowerCase()%>" title="<%=user.country%>"></span><% } %></td>
								<% if(permissionGroup >= 3) { %>
									<td class="align-middle">
										<form action="/user/edit/<%=user._id%>" method="get">
											<button class="btn btn-warning btn-sm">Edit User</button>
										</form>
									</td>
								<% } %>
							</tr>
							<% } %>
						<% }) %>
					</table>
				</div>
			</div>
			<br>
			<% } %>


			<!--All Members, retired or not-->

			<% if(currentUser) { %>
				<% if(permissionGroup >= 3) { %>
					<div class="card">
						<div class="card-header">
							<h5>All Members (<%=numOfUsers%>)</h5>
						</div>
						<div class="card-body text-center">
							<input type="text" class="form-control" id="searchInput" onkeyup="searchFunction()" placeholder="Search for names..">
							<table class="table table-bordered table-striped table-sm" id="searchTable">
								<thead>
								<tr>
									<th scope="col" style="width: 5%">Rank</th>
									<th scope="col" style="width: 20%">Name</th>
									<th scope="col" style="width: 30%">Position</th>
									<th scope="col" style="width: 15%">Status</th>
									<th scope="col" style="width: 10%">Group</th>
									<% if(permissionGroup >= 4) { %>
										<th scope="col" style="width: 10%">Delete</th>
									<% } %>
									<th scope="col" style="width: 10%">Edit</th>
								</tr>
								</thead>
								<tbody>
								<% let num = 1; %>
								<% users.forEach(function(user) { %>
								<tr>
									<td class="align-middle"><img src="/ranks/small/<%=user.rank.toLowerCase()%>.png" title="<%=user.rank%>"></td>
									<td class="align-middle"><a href="/user/<%=user._id%>"><% if(user.rank.toLowerCase() !== "none") { %><%=user.rank%><% } %> <%=user.displayname%></a></td>
									<td class="align-middle"><%=user.unit.platoon%>, <%=user.unit.squad%>, <%=user.unit.team%></td>
									<td class="align-middle"><span class="<%=user.status%>"><%=user.status%></span></td>
									<td class="align-middle"><%=user.role.name%></td>
									<% if(permissionGroup >= 4) { %>
										<td class="align-middle">
											<form action="/user/delete/<%=user._id%>" method="post">
												<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete<%=num%>">
													Delete User
												</button>

												<!-- Modal -->
												<div class="modal fade" id="delete<%=num%>" tabindex="-1" role="dialog">
													<div class="modal-dialog" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title">Confirm Delete User</h5>
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true" class="modal-span">&times;</span>
																</button>
															</div>
															<div class="modal-body">
																This action cannot be undone.
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
																<button type="submit" class="btn btn-danger btn-sm">Delete User</button>
															</div>
														</div>
													</div>
												</div>
											</form>
										</td>
									<% } %>
									<td class="align-middle">
										<form action="/user/edit/<%=user._id%>" method="get">
											<button class="btn btn-warning btn-sm">Edit User</button>
										</form>
									</td>
								</tr>
								<%num++;%>
								<% }) %>
							</table>
						</div>
					</div>
				<% } %>
			<% } %>
		</div>
		<div class="tab-pane fade" id="administrative" role="tabpanel" aria-labelledby="administrative-tab">
			<% for(let i = 0; i < sShops.length; i++) { %>
				<% if(sShops[i].toLowerCase() !== "none") { %>
					<div class="card">
						<div class="card-header text-center">
							<h5><%=sShops[i]%></h5>
						</div>
						<div class="card-body text-center">
							<table class="table table-striped table-sm">
								<thead>
								<tr>
									<th scope="col" style="width: 5%">Rank</th>
									<th scope="col" style="width: 25%">Name</th>
									<th scope="col" style="width: 30%">Role</th>
									<th scope="col" style="width: 15%">Status</th>
									<th scope="col" style="width: 3%"></th>
									<th scope="col" style="width: 3%"></th>
									<% if(permissionGroup >= 3) { %>
										<th scope="col" style="width: 8%">Edit</th>
									<% } %>
								</tr>
								</thead>
								<tbody>
								<% users.forEach(function(user) { %>
									<% if(user.sShops) { %>
										<% if(user.status !== "Reserve" && user.status !== "Retired" && user.sShops.includes(sShops[i])) { %>
										<tr>
											<td class="align-middle"><img src="/ranks/small/<%=user.rank.toLowerCase()%>.png" title="<%=user.rank%>"></td>
											<td class="align-middle"><a href="/user/<%=user._id%>"><% if(user.rank.toLowerCase() !== "none") { %><%=user.rank%><% } %> <%=user.displayname%></a></td>
											<td class="align-middle"><%=user.role.name%></td>
											<td class="align-middle"><span class="<%=user.status%>"><%=user.status%></span></td>
											<td class="align-middle"><% if(user.steamProfile) { %><a href="<%=user.steamProfile%>" target="_blank" title="Steam"><i class="fab fa-steam fa-lg" style="color: darkblue;"></i></a><% } %></td>
											<td class="align-middle"><% if(user.country) { %><span class="flag-icon flag-icon-<%=user.country.toLowerCase()%>" title="<%=user.country%>"></span><% } %></td>
											<% if(permissionGroup >= 3) { %>
												<td class="align-middle">
													<form action="/user/edit/<%=user._id%>" method="get">
														<button class="btn btn-warning btn-sm">Edit User</button>
													</form>
												</td>
											<% } %>
										</tr>
										<% } %>
									<% } %>
								<% }) %>
							</table>
						</div>
					</div>
					<br>
				<% } %>
			<% } %>
		</div>
	</div>
</div>

<script>
function searchFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("searchTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<% include partials/footer %>