<% include partials/header %>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        function getNewTime(time, addHours, addMinutes) {
            let hours = time.slice(0,2);
            let minutes = time.slice(3,5);
            hours = parseInt(hours);
            minutes = parseInt(minutes);
            hours+=addHours;
            minutes+=addMinutes;
            if(minutes === 60) {
                minutes=0;
                hours++;
            }
            if(hours > 24) {
                hours-=24;
            } else if(hours < 0) {
                hours+=24;
            }
            hours = hours.toString()
            minutes = minutes.toString()
            if(minutes === "0") {
                minutes = "00";
            }
            if(hours.length === 1) {
                hours = "0"+hours;
            }
            return `${hours}:${minutes}`
        }
        document.getElementById('cst').innerText=getNewTime("<%=event.startTime%>", -1, 0);
        document.getElementById('pst').innerText=getNewTime("<%=event.startTime%>", -3, 0);
        document.getElementById('cet').innerText=getNewTime("<%=event.startTime%>", 6, 0);
        });


</script>

<div class="container shadow bg-white rounded" style="margin-top: 1%; padding: 1%;">

    <h1 style="text-align: center; margin-bottom: 1%;">Viewing <strong><%=event.title%></strong></h1>
    <div class="row">
        <div class="col-sm" style="text-align: center;"><div><h2>Event Description</h2></div></div>
    </div>

    <div class="row">
        <div class="col-sm" style="text-align: center;"><div><%=event.description%></div></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm" style="text-align: center;"><div><h5>Date</h5></div></div>
        <div class="col-sm" style="text-align: center;"><div><h5>Start Time EST</h5></div></div>
        <div class="col-sm" style="text-align: center;"><div><h5>Start Time CST</h5></div></div>
        <div class="col-sm" style="text-align: center;"><div><h5>Start Time PST</h5></div></div>
        <div class="col-sm" style="text-align: center;"><div><h5>Start Time CET</h5></div></div>
    </div>
    <div class="row">
        <div class="col-sm" style="text-align: center; font-weight:bold;"><%=event.start%></div>
        <div class="col-sm" style="text-align: center; font-weight:bold;"><div><%=event.startTime%></div></div>
        <div class="col-sm" style="text-align: center;"><div><div id="cst" style="font-weight:bold;"></div></div></div>
        <div class="col-sm" style="text-align: center;"><div><div id="pst" style="font-weight:bold;"></div></div></div>
        <div class="col-sm" style="text-align: center;"><div><div id="cet" style="font-weight:bold;"></div></div></div>
    </div>
    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-auto mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Register</strong></h5>
                        <form action="/calendar/event/<%=event._id%>/users" method="POST">
                            <div class="form-group">
                                <button class="btn btn-success btn-sm">Register</button>
                                <input class="form-control" type="hidden" name="type" value="register">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">This action can be seen by enlisted and above.</small>
                    </div>
                </div>
            </div>
            <div class="col-auto mb-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Unregister</strong></h5>
                        <form action="/calendar/event/<%=event._id%>/users" method="POST">
                            <div class="form-group">
                                <button class="btn btn-danger btn-sm">Unregister</button>
                                <input class="form-control" type="hidden" name="type" value="unregister">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">This action can be seen by enlisted and above.</small>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div style="margin-top: 1%; width: 100%;">
        <div class="table-header">
            <h3>Attending Users</h3>
        </div>
        <table class="table white table-bordered table-sm">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Rank</th>
                <th scope="col">MOS</th>
                <th scope="col">Status</th>
                <th scope="col">Unit</th>
            </tr>
            </thead>
            <tbody>
            <% list.forEach(function(user) { %>
            <tr>
                <td class="align-middle"><a href="/user/<%=user._id%>"><%=user.username%><h1></a></td>
                <td class="align-middle"><%=user.rank%></td>
                <td class="align-middle"><%=user.position%></td>
                <td class="align-middle"><span class="<%=user.status%>"><%=user.status%></span></td>
                <% if(user.unit.squad == "none") { %>
                <td class="align-middle"><%=user.unit.platoon%></td>
                <% } else { %>
                <td class="align-middle"><%=user.unit.squad%>, <%=user.unit.platoon%></td>
                <% } %>
            </tr>
            <% }) %>
        </table>
    </div>
</div>





</div>

<% include partials/footer %>

