<% include partials/header %>

<script>
</script>

<div class="container shadow bg-white" style="margin-top: 1%; padding: 1%;">

    <h3 style="text-align: center;">Viewing Leave of Absence</h3>

    <% for(var i = 0; i < users.length; i++) { %>
        <% if(users[i]._id == loa.ownerID) { %>
          <% var user = users[i]; %>

        <table class="table white table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Rank</th>
                <th scope="col">MOS</th>
                <th scope="col">Status</th>
                <th scope="col">Unit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle"><a href="/user/<%=user._id%>"><%=user.username%><h1></a></td>
                <td class="align-middle"><%=user.rank%></td>
                <td class="align-middle"><%=user.position%></td>
                <td class="align-middle"><span class="<%=user.status%>"><%=user.status%></span></td>
                <% if(user.unit.squad == "none" && user.unit.platoon == "none" && user.unit.company == "none") { %>
                <td class="align-middle"></td>
                <% } else if(user.unit.squad == "") { %>
                <td class="align-middle"><%=user.unit.platoon%>, <%=user.unit.company%></td>
                <% } else { %>
                <td class="align-middle"><%=user.unit.squad%>, <%=user.unit.platoon%>, <%=user.unit.company%></td>
                <% } %>
              </tr>
        </table>

        <br>
        <h1>Reason</h1>
        <hr>
            <div class="card-deck">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text"><%=loa.reason%></p>
                    </div>
                </div>
            </div>

        <br>
        <h1>Leave and Return Date</h1>
        <hr>
        <div class="card-deck">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Leave Date</strong></h5>
                        <p class="card-text"><%=loa.leaveDate%></p>
                    </div>
                </div>
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Return Date</strong></h5>
                        <p class="card-text"><%=loa.returnDate%></p>
                    </div>
                </div>
        </div>
        <br>
            <h1>Actions</h1>
        <hr>
        <div class="card-deck" style="padding-bottom: 1%;">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Approve</strong></h5>
                    <form action="/opcenter/<%=loa._id%>" method="POST">
                        <% if(!loa.read) { %>
                            <div class="form-group"><button class="btn btn-success" style="width: 50%;">Approve</button></div>
                        <% } else { %>
                            <div class="form-group"><button class="btn btn-success" style="width: 50%;" disabled>Approve</button></div>
                        <% } %>
                        <input class="form-control" type="hidden" name="requestType" value="Leave">
                        <input class="form-control" type="hidden" name="id" value="<%=loa._id%>">
                        <input class="form-control" type="hidden" name="approve" value="1">
                    </form>
                </div>
            </div>
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Approve</strong></h5>
                    <form action="/opcenter/<%=loa._id%>" method="POST">
                        <% if(!loa.read) { %>
                            <div class="form-group"><button class="btn btn-danger" style="width: 50%;">Deny</button></div>
                        <% } else { %>
                            <div class="form-group"><button class="btn btn-danger" style="width: 50%;" disabled>Deny</button></div>
                        <% } %>
                        <input class="form-control" type="hidden" name="requestType" value="Leave">
                        <input class="form-control" type="hidden" name="id" value="<%=loa._id%>">
                        <input class="form-control" type="hidden" name="approve" value="1">
                    </form>
                </div>
            </div>
        </div>

        <% } %>
      <% } %>




</div>

<% include partials/footer %>
