<% include partials/header %>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        function getNewTime(time, addHours, addMinutes) {
            let hours = time.slice(0,2);
            let minutes = time.slice(3,5);
            hours = parseInt(hours);
            minutes = parseInt(minutes);
            hours+=addHours;
            minutes+=addMinutes;
            if(minutes === 60) {
                minutes=0;
                hours++;
            }
            if(hours > 24) {
                hours-=24;
            } else if(hours < 0) {
                hours+=24;
            }
            hours = hours.toString()
            minutes = minutes.toString()
            if(minutes === "0") {
                minutes = "00";
            }
            if(hours.length === 1) {
                hours = "0"+hours;
            }
            return `${hours}:${minutes}`
        }
        document.getElementById('cst').innerText=getNewTime("<%=event.startTime%>", -1, 0);
        document.getElementById('pst').innerText=getNewTime("<%=event.startTime%>", -3, 0);
        document.getElementById('cet').innerText=getNewTime("<%=event.startTime%>", 6, 0);
        });
</script>

    <div class="container shadow bg-white marginPad">
        <h1>Viewing <strong><%=event.title%></strong></h1>
        <hr>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="https://raw.githubusercontent.com/LyonJenkins/persman-pictures/master/<%=event.imageName%>"  alt="">
                    <div class="card-body">
                        <p class="card-text"><%=event.description%></p>
                    </div>
                </div>
            </div>
        </div>
        <!--    <hr>-->
        <br>
        <div>
            <div class="card">

                <div class="card-body text-center">
                    <h3 class="card-title text-left" style="font-weight: 600;">Event Information <span style="font-weight: 400;">- <%=event.start%> - <span><%=event.startTime%></span> EST | <span id="cst"></span> CST | <span id="pst"></span> PST | <span id="cet"></span> CET</span></h3>
                    <hr>
                    <div class="container-fluid mt-4">
                        <div class="row justify-content-center">
                            <div class="col-auto mb-3">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>Register</strong></h5>
                                        <form action="/calendar/event/<%=event._id%>/users" method="POST">
                                            <div class="form-group">
                                                <button class="btn btn-success btn-sm">Register</button>
                                                <input class="form-control" type="hidden" name="type" value="register">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">This action can be seen by enlisted and above.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto mb-3">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>Unregister</strong></h5>
                                        <form action="/calendar/event/<%=event._id%>/users" method="POST">
                                            <div class="form-group">
                                                <button class="btn btn-danger btn-sm">Unregister</button>
                                                <input class="form-control" type="hidden" name="type" value="unregister">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">This action can be seen by enlisted and above.</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <table class="table table-sm table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" class="usersTable">Username</th>
                            <th scope="col" class="usersTable">Rank</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% list.forEach(function(user) { %>
                        <tr>
                            <td><a href="/user/<%=user._id%>"><%=user.username%></a></td>
                            <td><%=user.rank%></td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
</div>





</div>

<% include partials/footer %>

