<% include ../partials/header %>

<div class="container shadow mt-3 p-3 white-transparent">
    <h1>Operations Center</h1>
    <hr>

	<%if(submitted === 1) { %>
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>Success!</strong> Your request was successfully submitted.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<% } else if(submitted === 2) {%>
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>Success!</strong> Your application was successfully submitted.
			<br><br>
			<i>Applications are typically reviewed within 48 hours, but may take up to a maximum of 7 days.</i>
			<br><br>
			<%if(config.ts3URL !== "") { %>
				<strong>In the meantime, join our <a href="ts3server://<%=config.ts3URL%>">TS3</a>
				<%if(config.discordURL !== "") { %>
					or <a href="<%=config.discordURL%>" target="_blank">Discord</a>
				<% } %>
				! We would love to meet you to expedite the application process!</strong>
				<br><br>
			<% } %>
			<small>
				<ul>
					<li>If your application is approved, your account will be automatically "enlisted", allowing you full access to the site.</li>
					<li>If your application is denied, it may be due to insufficient or unfavorable answers in your application. If this happens, please feel free to submit another application if you believe it could be better.</li>
				</ul>
			</small>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<% } %>
	
    <% if(currentUser.role.num >= 1) { %>
        <div class="card-deck">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Request a Discharge</strong></h5>
                    <p class="card-text">Request a Discharge from the unit.</p>
                    <a href="/opcenter/discharge" class="card-btn btn btn-primary">Request a Discharge</a>
                </div>
                <div class="card-footer">
                    <small>This action can be seen by <%=config.userGroups[1]%> and above.</small>
                </div>
            </div>
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Request a Leave of Absence</strong></h5>
                    <p class="card-text">Request a Leave of Absence.</p>
                    <a href="/opcenter/loa" class="card-btn btn btn-primary">Request a Leave of Absence</a>
                </div>
                <div class="card-footer">
                    <small>This action can be seen by <%=config.userGroups[1]%> and above.</small>
                </div>
            </div>
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>View Your Requests</strong></h5>
                    <p class="card-text">View all of your requests.</p>
                    <a href="/opcenter/yourrequests" class="card-btn btn btn-primary">View Requests</a>
                </div>
                <div class="card-footer">
                    <small>This action can be seen only by you.</small>
                </div>
            </div>
        </div>
    <% } %>

    <% if((currentUser.role.num === 0) && config.enableApplication === "on") { %>
        <div class="card-deck mt-2">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Submit An Application</strong></h5>
                    <p class="card-text">Submit an application to join <%=config.websiteName%>.</p>
                    <a href="/opcenter/application" class="card-btn btn btn-primary">Create Application</a>
                </div>
                <div class="card-footer">
                    <small>This action can be seen only by <%=config.userGroups[0]%>s.</small>
                </div>
            </div>
			<div class="card text-center" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title"><strong>View Your Application</strong></h5>
					<p class="card-text">If you already submitted an application, you can view it's status and details here.</p>
					<a href="/opcenter/yourrequests" class="card-btn btn btn-primary">View Application</a>
				</div>
				<div class="card-footer">
					<small>This action can be seen only by <%=config.userGroups[0]%>s.</small>
				</div>
			</div>
        </div>
    <% } %>
</div>


<% if(currentUser.role.num >= 2) { %>
    <div class="container shadow mt-3 p-3 mb-5 pb-3 white-transparent">
        <h1>Administration Center</h1>
        <hr>
        <div class="card-deck">
			<% if(currentUser.role.num >= 3) { %>
				<div class="card text-center" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title"><strong>View Requests</strong></h5>
						<p class="card-text">View all user requests.</p>
						<a href="/opcenter/requests" class="card-btn btn btn-primary">View Requests</a>
					</div>
					<div class="card-footer">
						<small>This action can be seen only by <%=config.userGroups[3]%>s.</small>
					</div>
				</div>
			<% } %>
			<% if(currentUser.role.num >= 2) { %>
				<div class="card text-center" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title"><strong>Create Events</strong></h5>
						<p class="card-text">Create a new event.</p>
						<a href="/calendar/event" class="card-btn btn btn-primary">Create Event</a>
					</div>
					<div class="card-footer">
						<small>This action can be seen only by <%=config.userGroups[2]%>s.</small>
					</div>
				</div>
				<div class="card text-center" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title"><strong>View Events</strong></h5>
						<p class="card-text">View all events.</p>
						<a href="/calendar/events" class="card-btn btn btn-primary">View Events</a>
					</div>
					<div class="card-footer">
						<small>This action can be seen only by <%=config.userGroups[2]%>s.</small>
					</div>
				</div>
			<% } %>
        </div>
    </div>
<% } %>

<div class="fixed-bottom">
<% include ../partials/footer %>