<% include ../partials/header %>
<div class="container shadow mt-3 p-3">
    <h1>Website Settings</h1>
    <hr>
    <% if(error && error.length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%=error%>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>

    <% if(success && success.length > 0) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%=success%>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    <div>
        <form action="/settings" method="POST">
            <div class="custom-control custom-switch form-group">
                <input type="checkbox" class="custom-control-input" id="application" name="enableApplication">
                <label class="custom-control-label" for="application">Enable Application System</label>
            </div>
            <div class="custom-control custom-switch form-group">
                <input type="checkbox" class="custom-control-input" id="retiredmembers" name="enableRetiredMembers">
                <label class="custom-control-label" for="retiredmembers">Enable Retired Members table on the members page</label>
            </div>
            <div class="row form-group">
                <div class="col-sm-3" style="margin-right: 0%">
                    <input type="text" class="form-control" id="websitename" placeholder="enter your website name" name="websiteName" value="<%=config.websiteName%>">
                </div>
                <div class="col-sm-3" style="padding-left: 0%; padding-top: .5%">
                    <label for="websitename">Website Name</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3" style="margin-right: 0%">
                    <input type="text" class="form-control" id="landingText" placeholder="enter your new landing text" name="landingText" value="<%=config.landingText%>">
                </div>
                <div class="col-sm-3" style="padding-left: 0%; padding-top: .5%">
                    <label for="landingText">Landing Text</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-9" style="margin-right: 0%">
                    <input type="text" class="form-control" id="certifications" placeholder="your desired certifications" name="certifications" value="<%=config.certifications%>">
                </div>
                <div class="col-md-3" style="padding-left: 0%; padding-top: .5%">
                    <label for="certifications">Certifications, spaced out by commas</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-9" style="margin-right: 0%">
                    <input type="text" class="form-control" id="roles" placeholder="your desired roles" name="roles" value="<%=config.roles%>">
                </div>
                <div class="col-md-3" style="padding-left: 0%; padding-top: .5%">
                    <label for="roles">Roles, spaced out by commas</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-9" style="margin-right: 0%">
                    <input type="text" class="form-control" id="companies" placeholder="your desired companies" name="companies" value="<%=config.companies%>">
                </div>
                <div class="col-md-3" style="padding-left: 0%; padding-top: .5%">
                    <label for="companies">Companies, spaced out by commas</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-9" style="margin-right: 0%">
                    <input type="text" class="form-control" id="platoons" placeholder="your desired platoons" name="platoons" value="<%=config.platoons%>">
                </div>
                <div class="col-md-3" style="padding-left: 0%; padding-top: .5%">
                    <label for="platoons">Platoons, spaced out by commas</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-9" style="margin-right: 0%">
                    <input type="text" class="form-control" id="squads" placeholder="your desired squads" name="squads" value="<%=config.squads%>">
                </div>
                <div class="col-md-3" style="padding-left: 0%; padding-top: .5%">
                    <label for="squads">Squads, spaced out by commas</label>
                </div>
            </div>
            <div style="text-align:center;" class="form-group">
                <input type="submit" value="Submit Changes" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>


<% if(config.enableApplication === "on") { %>
<script>
    document.getElementById("application").checked = true;
</script>
<% } %>

<% if(config.enableRetiredMembers === "on") { %>
    <script>
        document.getElementById("retiredmembers").checked = true;
    </script>
<% } %>

<% include ../partials/footer %>